<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <link href="~/BlazorDemo/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/BlazorDemo/css/app.css" rel="stylesheet" />
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light">
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" is-active-route asp-page="/" asp-page-handler="counter">Razor Home Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" is-active-route asp-page="/BlazorDemo/Index">Blazor Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" is-active-route asp-page="/BlazorDemo/Index" asp-page-handler="counter">Counter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" is-active-route asp-page="/BlazorDemo/Index" asp-page-handler="fetchData">Weather</a>
        </li>
    </ul>
</nav>

<div class="main">
    <div class="content px-4">
        @RenderBody()
    </div>
</div>
</body>

</html>
