@page "{handler?}"
@model WebApplication1.Server.Pages.BlazorDemo.IndexPageModel
@{
    Layout = "~/Pages/Shared/_BlazorLayout.cshtml";
}

<h1>This is a Razor page!</h1>

@Html.Raw("<p>Let's see if we can embed a Blazor WASM page...</p>")